*{
    overflow: hidden;
}
.div {
    position: fixed;
    color: black;
    font-size: 3em;
    user-select: none;
}

.fixed {
    position: absolute;
    width: 30%;
    margin-left: 35%;
    margin-top: 15%;
    align-items: center;
    border-radius: 20px;
}

.fixed1 {
    width: 100%;
    background-color: #cae9ea;
    text-align: center;
}

h1 {
    font-size: 5em;
    margin: 0px;
}

.buttonDiv {
    margin: 5px 0;
}

p {
   font-size: 1.5em;
   margin: 0 0 20px 0;
}

button {
    font-size: 25px;
    background-color: #255f63;
    width: 60%;
    padding: 10px 5px;
    border-radius: 50px;
}