*{
    overflow: hidden;
}
.div {
    position: fixed;
    color: black;
    font-size: 3em;
    user-select: none;
}

.fixed {
    position: absolute;
    width: 50%;
    margin-left: 38%;
    margin-top: 17%;
    align-items: center;
}

.fixed1 {
    width: 50%;
    background-color: rgb(160, 157, 157);
    text-align: center;
}

h1 {
    font-size: 5em;
    margin: 0px;
}

.buttonDiv {
    margin: 5px 0;
}

p {
   font-size: 1.5em;
   margin: 0 0 20px 0;
}

button {

    background-color: rgb(82, 185, 185);
    width: 60%;
    padding: 10px 5px;
    border-radius: 50px;
}